.slidecontainer p {
	font-family: var(--ff-fontfamily-AW);
	color: var(--secondary-clr);
  text-transform: uppercase;
	font-size: 0.75rem;
}

input[type='range'] {
	-webkit-appearance: none;
	padding: 0px;
	border-radius: unset;
	outline: unset;
  width: 80%;
	height: 10px;
	border-radius: 4px;
	background: var( --fav-gradient);
	background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type='range']:hover {
  opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var( --tint-2-clr);
	cursor: pointer;
	box-shadow: 0 0 3px 0 #555;
}

input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var( --tint-1-clr);
	cursor: pointer;
	box-shadow: 0 0 2px 0 #555;
}

input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: hsla(254, 68%, 90%, 0.35) 0px 0px 0px 8px;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: hsla(254, 68%, 90%, 0.35) 0px 0px 0px 11px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 350ms cubic-
  bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input[type="range"]::-webkit-slider-thumb:focus {
  box-shadow: hsla(254, 68%, 90%, 0.35) 0px 0px 0px 11px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 350ms cubic-
  bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input[type='range']::-webkit-slider-thumb {
	
	transition: background 0.3s ease-in-out;
}