.hero-card-back {
  display: flex;
  flex-wrap: wrap;
  background: transparent 
              linear-gradient(0deg, #BA76F5 0%, hsl(254, 60%, 65%) 100%) 
              0% 0% no-repeat padding-box;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: solid 1px hsla(0, 0%, 100%, 0.3);
  transition: var(--animation-transition);
}

.hero_card-small {
  position: relative;
  cursor: pointer;
  /* overflow: hidden; */
  margin-bottom: 20px;
 }

.hero__card-small-container {
  position: relative;
  overflow: hidden;
  border: solid 1px #FFF;
  flex-basis: 40%;
  height: 100px;
  background-image: var(--backgroundImg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_card-small:hover .card__overlay-small {
  opacity: 1;
}

.card__overlay-small {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    position: absolute;
    background: var( --fav-gradient);
    width: 100% transition 0.5s ease;
    opacity: 1;
    left: 10px;
    top: -10px;
    font-size: 2.5rem;
    padding: 1.25rem;
    border: solid 1px #FFF;
  
}

.card__overlay-small:is(:hover, :active) .slider-favorite-in {
  scale: 4;
}

.card__overlay-small .slider-favorite-in {
  transition: var(--animation-transition);
  scale: 5;
}

.card__disabled-small {
  opacity: 0.6;
}

.hero__content-sm {
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0.5rem;
}

.hero__content-sm h3{
  font-family: var(--ff-fontfamily-AW);
  font-size: 0.85rem;
  color: #FFF;
}

.slider-link {
  color: #FFF;
  font-size: 0.9rem;
  border: 1px solid #FFF;
  text-align: center;
}

.slider-link:hover {
  color: #FFF;
  background-color: #BA76F5;
}