

.signup-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.left_column {
  flex-basis: 50%;

  display: flex;
  flex-shrink: 1;
  align-items: flex-end;
  padding-left: 4rem;
  padding-bottom: 4rem;
}

.left_column {
  height: 100%;
  background-image: var(--background-signup);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left_column h1 {
  width: 70%;
  color: #FFF;
  overflow-wrap: normal;
}

.right_column {
  flex-basis: 50%;
  justify-self: center;
  padding:3rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.form-content .bold {
  font-weight: var(--ff-fontweight-bold);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 400px;
} 

fieldset {
  position: relative;
  border: 0;
}

input::placeholder {
  font-size: var(--fz-h5-14px);
  color: var(--accent-tint-clr);
  transition: var( --animation-transition);
}

input {
  width: 100%;
  color: var(--tertiary-clr);
  border:unset;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  outline: 2px solid var(--accent-tint-clr);
  border-radius: 10px;
 }

input:focus-visible {
  outline: 2px solid var(--tertiary-clr);
  transition: var( --animation-transition);
}

input:focus-visible::placeholder {
  color: var(--tertiary-clr);
}

[data-icon="eye"]:focus-visible input {
  background-color: blueviolet;
}

[data-icon="eye-slash"] {
  color: var(--accent-tint-clr);
}

[data-icon="eye"] {
  color: var(--tertiary-clr);
}

.input-container {
  position: relative;
}

i {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 15px;
  bottom: 0px;
  margin: auto;
  transform: translateY(-50%);
} 

.form-content .logo {
  scale: 0.8;
}

span[role=alert] {
  display: block;
  width: 100%;
  font-size: 0.75rem;
  color: var(--primary-clr);
  font-weight: var(--ff-fontweight-regular);
  margin-bottom: -10px;
  line-height: 0.85rem;
}

span[role=alert]::focus {
  transform: translateY(20px);
}
